<%include ../partials/header %>
<h1>
  Create a new company
</h1>
<form action="/companies" method="post">
  
   Name:<input type="text" name="name" placeholder="Company name"/><br>
  Logo URL: <input type="text" name="image" placeholder="logo URL"/><br>
  <input type="submit" value="Save" >post</input>
    </form>
 
<a href="/">Landing Page</a>
<a href="/companies">View all Companies</a>
<a href="/companies/new">Add a company</a>
<%include ../partials/footer %>