 <%include partials/header %>
 
<!-- <nav class="navbar" class="navbar-default">
  <div>
    <div>
      
    </div>
  </div>
</nav> -->

<div class="container">


<header class="jumbotron"><h1>
 Boston's Software Employers
</h1>
  <p>
    Following is a list of the top 100 employers of software developers in the Boston area.
  </p>
  <a class="btn btn-primary btn-large" href="/newCompany">Add a company</a>
  </header>
 <div class="row">
   <% for(let i = 0; i < displayCompanies.length; i++) { %>
 
   <div class="col-md-3 col-sm-6">
     <div class="thumbnail">
 <img src = '<%= displayCompanies[i] %>'> 
         
       <div class="caption">
       <%= displayCompanies[i] %>
  </div>
  </div>
   </div>

 <% } %> 
    
   </div> 
<a href="/">Landing Page</a>
  </div>
<%include partials/footer %>


    


     
